<p-dialog header="Login" [modal]="true" [(visible)]="isVisible" [style]="{ width: '25rem'}">
  <div class="flex align-items-center gap-3 mb-3">
    <label for="username">Username</label>
    <input pInputText id="username" class="flex-auto" autocomplete="off">
  </div>
  <div class="flex align-items-center gap-3 mb-3">
    <label for="password">Password</label>
    <input pInputText id="password" class="flex-auto" autocomplete="off">
  </div>
  <div class="flex justify-content-center">
    <p-button label="Save" (click)="isVisible = false"></p-button>
  </div>
</p-dialog>