<div class="card" *ngFor="let siteConfig of siteConfigs">
    <p-table [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Options</th>
                <th>Version</th>
                <th>Description</th>
                <th>Status</th>
                <th>Last Updated</th>
                <th>Editor Approved By</th>
                <th>Editor Approved On</th>
                <th>Signer Approved By</th>
                <th>Signer Approved On</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-siteConfig>
            <tr>
                <td>Buttons</td>
                <td>{{ siteConfig.version }}</td>
                <td>{{ siteConfig.description }}</td>
                <td>{{ siteConfig.status }}</td>
                <td>{{ siteConfig.lastUpdated }}</td>
                <td>{{ siteConfig.EditorBy }}</td>
                <td>{{ siteConfig.EditorOn }}</td>
                <td>{{ siteConfig.SignerBy }}</td>
                <td>{{ siteConfig.SignerOn }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>